<div>
  <h1><%= @chatroom.topic %></h1>
</div>
<div class="row border chatbox">
  <div class="panel panel-default">
    <div class="panel-body" id="messages" data-chatroom=<%=@chatroom.id%>>
      <%= render partial: 'messages/message', collection: @chatroom.messages %>
    </div>
  </div>
</div>
<%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
